<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.makemoji.sbaar.alpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appicob"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.makemoji.mojilib.wall.MojiWallActivity"
            android:label="Emoji Wall Activity"></activity>
        <activity
            android:name=".InputActivity"
            android:label="Emoji"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ImageActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ImageListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".GIFActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".inappNew"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".MainActivity"
            android:label="Setting"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_input"
            android:launchMode="singleTask"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.makemoji.mojilib.action.LOCKED_CATEGORY_CLICKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivateActivity"
            android:label="MakeMoji Keyboard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReactionsActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>